:root{
  --bgColor : hsla(242, 86%, 6%, 1);
  --bgColorLight : hsla(242, 86%, 24%, 1);
  --textColor : hsla(242, 86%, 88%, 1);
  --textColorDark : hsla(242, 36%, 0%, 1);
  --paperColor: hsla(242, 86%, 44%, 1);
  --paperColorDark: hsla(242, 86%, 34%, 1);
  --shadowColorFaint: hsla(0, 0%, 0%, 0.2);
}

::selected{
  color: var(--textColorDark);
}

html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: var(--bgColor);
  background: linear-gradient(135deg, var(--bgColor), var(--bgColorLight));
  color: var(--textColor);
  font-family: 'Saira', sans-serif;
  position: relative;
}

*{
  box-sizing: border-box;
  transition: all 0.12s cubic-bezier(0.42, 0.54, 0.22, 1.26);
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  left: 10px;
  bottom: -10px;
  width: calc(100% - 20px);
}

audio.active{
  bottom: 10px;
}

#thefile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}

label.file{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1rem 2rem;
  border-radius: 4px;
  
  background: var(--paperColor);
  color: var(--textColor);
  font-size: 1.25em;
  font-weight: 700;
  box-shadow: 0 20px 60px var(--shadowColorFaint);

  cursor: pointer;
}


label.file:hover{
    background: var(--paperColorDark);
    transform: translate3d(-50%, -55%, 0);
}

label.file:active{
    background: var(--paperColorDark);
    transform: translate3d(-50%, -45%, 0);
}

label.file.normal{
  transform: translate3d(10%, 50%, 0);
  padding: 0.2rem 2rem;
  font-size: 1rem;
  top: 0;
  left: 0;
}

body {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   height: 100vh;
   font-family: 'Roboto', sans-serif;
}
.credit {
   position: absolute;
   bottom: 20px;
   left: 20px;
   color: #000;
}
.options {
   display: flex;
   flex-direction: row;
   align-items: stretch;
   overflow: hidden;
   min-width: 600px;
   max-width: 900px;
   width: calc(100% - 100px);
   height: 400px;
}
.option {
   position: relative;
   overflow: hidden;
   min-width: 60px;
   margin: 10px;
   background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
   background-size: auto 120%;
   background-position: center;
   cursor: pointer;
   transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.option:nth-child(1) {
   --defaultBackground: #ed5565;
}
.option:nth-child(2) {
   --defaultBackground: #fc6e51;
}
.option:nth-child(3) {
   --defaultBackground: #ffce54;
}
.option:nth-child(4) {
   --defaultBackground: #2ecc71;
}
.option:nth-child(5) {
   --defaultBackground: #5d9cec;
}
.option.active {
   flex-grow: 10000;
   transform: scale(1);
   max-width: 600px;
   margin: 0px;
   border-radius: 40px;
   background-size: auto 100%;
}
.option.active .shadow {
   box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.option.active .label {
   bottom: 20px;
   left: 20px;
}
.option.active .info > div {
   left: 0px;
   opacity: 1;
}
.option:not(.active) {
   flex-grow: 1;
   border-radius: 30px;
}
.option:not(.active) .shadow {
   bottom: -40px;
   box-shadow: inset 0 -120px 0 -120px black, inset 0 -120px 0 -100px black;
}
.option:not(.active) .label {
   bottom: 10px;
   left: 10px;
}
.option:not(.active) .info > div {
   left: 20px;
   opacity: 0;
}
.shadow {
   position: absolute;
   bottom: 0px;
   left: 0px;
   right: 0px;
   height: 120px;
   transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.label {
   display: flex;
   position: absolute;
   right: 0px;
   height: 40px;
   transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.icon {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   min-width: 40px;
   max-width: 40px;
   height: 40px;
   border-radius: 100%;
   background-color: white;
   color: var(--defaultBackground);
}
.info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 10px;
   color: white;
   white-space: pre;
}
.info > div {
   position: relative;
   transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.main {
   font-weight: bold;
   font-size: 1.2rem;
}
.sub {
   transition-delay: 0.1s;
}

.button {
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }

 .button3 {border-radius: 8px;}